header {
  background-image: url("./../images/home-background.jpg");
}

.discover-more {
  padding: 30px 15px;
  background-color: #303030;
  color: #fff;
}

.discover-more h3 {
  margin-bottom: 30px;
}

.discover-item {
  text-align: center;
  border: 1px solid #9C27B0;
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 360px;
}

.discover-item img {
  border-radius: 50%;
  margin-bottom: 12px;
}

.discover-item p {
  padding: 12px;
}

.our-team {
  background-image: url("./../images/ourteam-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.our-team .container {
  z-index: 10;
  position: relative;
}

.our-team::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(156, 39, 176, 0.7);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.team-member {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #fff;
  background-color: rgba(48, 48, 48, 0.8);
}

.team-member:nth-child(even) {
  direction: rtl;
}

.team-member:last-child {
  margin-bottom: 0;
}

.team-member .col-sm-2 {
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  border: 10px solid #9C27B0;
}
