@import 'vars';

header {
  background-image: url('./../images/home-background.jpg');
}

.our-team {
  background-image: url('./../images/ourteam-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  .container {
    z-index: 10;
    position: relative;
  }

  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba($purple, .7);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.team-member {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid $white;
  background-color: rgba($dark-bg, .8);
  &:nth-child(even) {
    direction: rtl;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .col-sm-2 {
    text-align: center;
  }

  img {
    border-radius: 50%;
    border: 10px solid $purple;
  }
}
