@import 'vars';

header {
  background-image: url('./../images/home-background.jpg');
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $dark-bg;

  .container {
    border: 12px solid rgba($purple, .3);
    border-radius: 12px;
    padding: 30px;
    background-color: $white;
  }
}
