header {
  background-image: url("./../images/home-background.jpg");
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #303030;
}

main .container {
  border: 12px solid rgba(156, 39, 176, 0.3);
  border-radius: 12px;
  padding: 30px;
  background-color: #fff;
}
