header {
  background-image: url("./../images/home-background.jpg");
}

main {
  margin: 30px;
}

main h3 {
  margin-bottom: 20px;
}

main .row {
  margin-bottom: 30px;
}

.showcase-card {
  display: table;
  height: 262.5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.showcase-card:hover a {
  opacity: 1;
}

.showcase-card a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-decoration: none;
}

.card-1 {
  background-image: url("./../images/home-background.jpg");
}

.card-2 {
  background-image: url("./../images/home-background.jpg");
}

.card-3 {
  background-image: url("./../images/home-background.jpg");
}

.card-4 {
  background-image: url("./../images/home-background.jpg");
}

.card-5 {
  background-image: url("./../images/home-background.jpg");
}

.card-6 {
  background-image: url("./../images/home-background.jpg");
}

.card-7 {
  background-image: url("./../images/home-background.jpg");
}

.card-8 {
  background-image: url("./../images/home-background.jpg");
}

.card-9 {
  background-image: url("./../images/home-background.jpg");
}

.card-10 {
  background-image: url("./../images/home-background.jpg");
}

.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FF5722;
  color: #fff;
}

.testimonials .testimonial-item {
  border: 1px solid #fff;
  padding: 12px;
  min-height: 130px;
}

.testimonials h3 {
  margin-bottom: 30px;
}

.testimonials p {
  margin-bottom: 0;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}

.testimonials label {
  text-align: right;
  display: block;
  padding-right: 150px;
}

.testimonials .carousel-control {
  background-image: none;
}
