@import 'vars';

header {
  background-image: url('./../images/home-background.jpg');
}

main {
  margin: 30px;

  h3 {
    margin-bottom: 20px;
  }

  .row {
    margin-bottom: 30px;
  }
}

.showcase-card {
  display: table;
  height: 262.5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  &:hover {
    a {
      opacity: 1;
    }
  }

  a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-size: 20px;
    background-color: rgba($black, .7);
    opacity: 0;
    transition: .3s ease-in-out;
    text-decoration: none;
  }
}

.card-1 {
  background-image: url('./../images/home-background.jpg');
}

.card-2 {
  background-image: url('./../images/home-background.jpg');
}

.card-3 {
  background-image: url('./../images/home-background.jpg');
}

.card-4 {
  background-image: url('./../images/home-background.jpg');
}

.card-5 {
  background-image: url('./../images/home-background.jpg');
}

.card-6 {
  background-image: url('./../images/home-background.jpg');
}

.card-7 {
  background-image: url('./../images/home-background.jpg');
}

.card-8 {
  background-image: url('./../images/home-background.jpg');
}

.card-9 {
  background-image: url('./../images/home-background.jpg');
}

.card-10 {
  background-image: url('./../images/home-background.jpg');
}
