@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: #fafafa;
}

header {
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  nav {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;

    a {
      background-color: $white;
      color: $purple;
    }

    li {
      border-right: 1px solid $purple;

      &:last-child {
        border-right: 0;
      }
    }
  }

  .header-wrapper {
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    background-color: rgba($black, .7);
    max-width: 500px;
    padding: 12px;

    h2 {
      font-size: 42px;
    }
  }
}

footer {
  padding: 6px;
  background-color: $purple;
  color: $white;
}

.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $orange;
  color: $white;

  .testimonial-item {
    border: 1px solid $white;
    padding: 12px;
    min-height: 130px;
  }

  h3 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 0;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
  }

  label {
    text-align: right;
    display: block;
    padding-right: 150px;
  }

  .carousel-control {
    background-image: none;
  }
}

.discover-more {
  padding: 30px 15px;
  background-color: $dark-bg;
  color: $white;

  h3 {
    margin-bottom: 30px;
  }
}

.discover-item {
  display: inline-block;
  text-align: center;
  border: 1px solid $purple;
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 360px;
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  img {
    border-radius: 50%;
    margin-bottom: 12px;
  }

  p {
    padding: 12px;
  }
}

.required {
  color: red;
}
