* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: #fafafa;
}

header {
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

header nav {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}

header nav a {
  background-color: #fff;
  color: #9C27B0;
}

header nav li {
  border-right: 1px solid #9C27B0;
}

header nav li:last-child {
  border-right: 0;
}

header .header-wrapper {
  position: absolute;
  top: calc(50% + 30px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 500px;
  padding: 12px;
}

header .header-wrapper h2 {
  font-size: 42px;
}

footer {
  padding: 6px;
  background-color: #9C27B0;
  color: #fff;
}

.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FF5722;
  color: #fff;
}

.testimonials .testimonial-item {
  border: 1px solid #fff;
  padding: 12px;
  min-height: 130px;
}

.testimonials h3 {
  margin-bottom: 30px;
}

.testimonials p {
  margin-bottom: 0;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}

.testimonials label {
  text-align: right;
  display: block;
  padding-right: 150px;
}

.testimonials .carousel-control {
  background-image: none;
}

.discover-more {
  padding: 30px 15px;
  background-color: #303030;
  color: #fff;
}

.discover-more h3 {
  margin-bottom: 30px;
}

.discover-item {
  display: inline-block;
  text-align: center;
  border: 1px solid #9C27B0;
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 360px;
  color: #fff;
}

.discover-item:hover {
  color: #fff;
  text-decoration: none;
}

.discover-item img {
  border-radius: 50%;
  margin-bottom: 12px;
}

.discover-item p {
  padding: 12px;
}

.required {
  color: red;
}
