@import 'vars';

header {
  background-image: url('./../images/home-background.jpg');
}

.partners {
  background-image: url('./../images/ourteam-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  .container {
    z-index: 10;
    position: relative;
  }

  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba($purple, .7);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  h2 {
    color: $white;
    padding: 12px;
    font-size: 18px;
    max-width: 600px;
    background-color: rgba($black, .7);
    margin: 0 auto 20px;
  }
}

.partner {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 4px 2px;
  border: 1px solid $purple;
}
